body {
	display: flex;
	flex-direction: column;
}

.login-register-container {
	display: flex;
}
.login-register {
	background: #ECF4FF;
	display: flex;
	width: 330px;
	height: 480px;
	margin: 15% auto auto auto;
	flex-direction: column;
	align-items: center;
}
.register-form {
	margin: auto;
}
.login-form {
	margin: auto;
}

input {
   text-align:center;
}

.main-container {
	background: #F9F9FF;
	flex-grow: 1;
	/**/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-container {
	background: #D0E6FF;
	height: 50px;
	width: 90%;
	max-width: 700px;
	/**/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
}
.header-item {
	background: #ECF4FF;
	/**/
	display: flex;
	width: 150px;
	height: 30px;
}
.logout {
	margin: auto;
}
.home {
	margin: auto;
}
.username {
	margin: auto;
}

.content-container {
	width: 100%;
	/**/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.search-or-enter-container {
	flex-basis: 450px;
	/**/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.search-and-new-forms {
	background: #ECF4FF;
	margin: 15% auto auto auto;
	width: 400px;
	height: 250px;
	/**/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.search-room-form {
	margin: auto;
	/**/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.new-room-form {
	margin: auto;
}
.left-side-container {
	flex-basis: 450px;
}
.infinite-rooms-list-container {
	flex-basis: 450px;
	/**/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.room-list-entry {
	background: #ECF4FF;
	display: flex;
	height: 40px;
	width: 300px;
	margin: 5px;
}
.room-link {
	margin: auto;
}

.playlist {
	width: 640px;
}
.artist_name {
	font-weight: bold;
}

.users {
}

.root {
	flex-grow: 1;
}
