<html>
	<head>
		<title>
			{% block title %}
			lalala
			{% endblock %}
		</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'js/infinite.min.js' %}"></script>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="main-container">
			{% if request.user.is_authenticated %}
			{% block header_container %}
			<div class="header-container">
				<div class="header-item">
                	      	 	<a class="home" href="{% url 'rooms:index' %}">Home</a>
               			</div>
				<div class="header-item">
					<span class="username">Hi, {{ request.user.username }}</span>
				</div>
				<div class="header-item">
					<a class="logout" href="{% url 'rooms:logout' %}">Logout</a>
				</div>
			</div>
			{% endblock %}
			{% endif %}
			<div class="content-container">
				{% block body %}
				{% endblock %}
			</div>

		</div>
	</body>
</html>
