{% extends "rooms/base.html" %}


{% block body %}
	<div class="left-side-container">
	</div>
	<div class="search-or-enter-container">
		<div class="search-and-new-forms">
			<form method="POST" class="search-room-form" >
				{% csrf_token %}
				{{ search_room_form.as_p }}
				{{ form.errors }}
				<input type="submit" class="btn btn-primary" value="enter" />
			</form>
			<form class="new-room-form" action="{% url 'rooms:new_room' %}" method="GET">
				<input type="submit" class="btn btn-default" value="new room" />
			</form>
		</div>
	</div>
	<div class="infinite-rooms-list-container">
		{% for room in rooms %}
		<div class="infinite-item">
			<div class="room-list-entry">
				<a class="room-link" href="{% url 'rooms:room' room_name=room.name %}"> {{ room.name }}</a>
			</div>
		</div>
		{% endfor %}
		<a class="infinite-more-link" href="?page={{ rooms.next_page_number }}"></a>
	</div>
		
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-rooms-list-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}
